/*
*/

body {
    background-color: lightgray;
}

h2,h3{
    color: darkblue;
}

.text-primary{
    color: rgb(3, 3, 60);
    font-weight: bold;
}

.who {
   /* background-color: lightblue;    */
    background: -webkit-linear-gradient(180deg, #c1ffff,#ffffff,#ffffff);/* Chrome 10-25, Safari 5.1-6 */        
    background: linear-gradient(180deg, #c1ffff,#ffffff,#ffffff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}

.orange{
    background-color: rgb(255, 98, 0);
    color: white;
}

.btn-outline-warning{
    border-color: rgb(255, 98, 0);
    color: rgb(255, 98, 0);
}

.btn-outline-warning:hover{
    background-color: rgb(255, 98, 0);
    color: white;     
}

.lavender{
    background-color: rgb(192, 128, 255);
}

.btn-outline-info{
    border-color: rgb(192, 128, 255);
    color: rgb(192, 128, 255);
}

.btn-outline-info:hover{
    background-color:  rgb(192, 128, 255);
    border-color: black;    
    color: white;
}

.dark-purple{
    background-color: darkslateblue;
    color: white;
}

.btn-outline-dark{
    border-color: darkslateblue;
    color: darkslateblue;
}

.btn-outline-dark:hover{
    background-color: darkslateblue;
}

/*Join*/

#join{
    background-image: url("../img/computer.png") ;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2em;
}

#join-panel{
    text-align: center;
    align-items: center;    
    max-height: 80%;
    }

#header-card{
    background: -webkit-linear-gradient(180deg, #80ffff,#8080ff,#8080ff);/* Chrome 10-25, Safari 5.1-6 */           
    background: linear-gradient(180deg, #80ffff,#8080ff,#8080ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             

}

.img-thumbnail{
    max-width: 2em;
    max-height: 2em;
    border: 0;
}